/* ADD FONT HERE BECAUSE IT DOESN'T WORK IN HTML */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#datetime-picker {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;

  outline: none;

  padding: 8px 16px;
  margin: 15px 8px 32px 0;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

button {
  display: inline-block;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;

  background: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover {
  background: #6c8cff;
}

button:disabled {
  background: #cfcfcf;
  color: #989898;
}

/* TIMER STYLES */

.timer {
  width: 346px;
  height: 72px;
  margin: 0 auto;
  display: flex;
  column-gap: 24px;
  width: 355px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}

/* LIBRARY STYLES */

.flatpickr-calendar {
  background: #f5f5f5;
}
